#movie{
    /* margin: 5% 0 0 40%; */
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
input{
    height:40px;
    margin-top: 10px;
  

}
#navbar{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid;
    background-color: teal;
}